body{
    font: "itim";
}

.nav li{
    list-style-type: none;
    padding: 0.5rem;
}

.nav ul{
    background-color: #b3b3b357;
}

.nav li:hover{
    background-color: #b3b3b39c;
}

.navchild:link{
    text-decoration: none;
}

.nav .active{
    background-color: #5cff6457;
}

.nav .active:hover{
    background-color: #5cff649a;
}

.nav .deativated{
    color: #777777;
}

.nav .navleft{
    float: left;
}

.nav .navright{
    float: right;
}

.title{
    font: "itim";
}

.subtitle{
    color: #777777;
    padding: 0.1rem;
    padding-top: 0.1rem;
}

.titleBanner{
    padding-top: 15%;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 5%;

    display: block;
}

.titleBannerText{
    float: left;
}

.titleBannerImage{
    width: 45%;
    height: auto;
    max-width: 450px;
    min-width: 150px;

    float: right;
}

.centered{
    text-align: center;
}