body{
    font: "itim";
    color: #505050;
}

.nav li{
    list-style-type: none;
    padding: 0.5rem;
}

.nav ul{
    background-color: #b3b3b357;
}

.nav li:hover{
    background-color: #b3b3b39c;
}

.navchild:link{
    text-decoration: none;
}


.nav a{
    text-decoration: none;
    color: #2e2e2e;
}

.nav a:visited{
    text-decoration: none;
    color: #2e2e2e;
}

.nav .active{
    color: #338f38;
}

.nav .active:hover{
    background-color: #5cff643b;
}

.nav .deativated{
    color: #777777;
}

.nav .navleft{
    float: left;
}

.nav .navright{
    float: right;
}

.subtitle{
    color: #777777;
    padding: 0.1rem;
    padding-top: 0.1rem;
}

.titleBanner{
    padding-top: 15%;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 5%;

    display: block;
}

.titleBannerText{
    float: left;
}

.titleBannerImage{
    width: 45%;
    height: auto;
    max-width: 450px;
    min-width: 150px;

    float: right;
}

.pageTitle{
    padding-top: 10%;
    display: block;
}

.centered{
    text-align: center;
}

.inTextA{
    text-decoration: none;
    color: #0000008e;
}

.inTextA:visited{
    text-decoration: none;
    color: #00000057;
}

@keyframes slight-bob{
    0% {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    25%{
        padding-top: 25px;
        padding-bottom: 5px;
    }
    75%{
        padding-top: 5px;
        padding-bottom: 25px;
    }
    100%{
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.smallInstructions{
    font-size: 15px;
    animation-name: slight-bob;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
